<h2>Projects</h2>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th class="number">Open Tickets</th>
      <th class="number">Total Tickets</th>
    </tr>
  </thead>

  <tbody>
    <%= render @projects %>
  </tbody>
</table>

<%= link_to 'New Project', new_project_path %>
