<tr>
  <td><%= tag.name %></td>
  <td class="number"><%= link_to tag.ticket_tags.count, tickets_path(tag: tag.id) %></td>
  <td>
    <%= link_to 'Edit', edit_tag_path(tag) %> or 
    <%= link_to 'Delete', tag_path(tag), method: :delete, data: {confirm: 'Are you sure?'} %>
  </td>
</tr>