<h1>Tags</h1>

<% if @tags.empty? %>
  <p class="empty-list">
    There are no tags
    <%= link_to "Add one now?", new_tag_path %>
  </p>
<% end %>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th class="number">Tickets</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <%= render @tags %>
  </tbody>
</table>

<%= link_to 'New tag', new_tag_path %>